{% extends "layout.html" %}

{% block content %}
    <h1>Contenido</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdContenido</th>
                <td>{{ contenido.id }}</td>
            </tr>
            <tr>
                <th>TipoContenido</th>
                <td>{{ contenido.TipoContenido }}</td>
            </tr>
            <tr>
                <th>DescripcionContenido</th>
                <td>{{ contenido.DescripcionContenido }}</td>
            </tr>
            <tr>
                <th>EnlaceContenido</th>
                <td>{{ contenido.EnlaceContenido }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('evento_index') }}">Volver a la lista</a>

    <a href="{{ path('contenido_edit', {'idContenido': contenido.id}) }}">Editar</a>

    {{ include('contenido/_delete_form.html.twig') }}
{% endblock %}
