{% extends "layout.html" %}

{% block content %}
    <h1>Evento</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nº Evento</th>
                <td>{{ evento.id }}</td>
            </tr>
            <tr>
                <th>Tipo Evento</th>
                <td>{{ evento.TipoEvento }}</td>
            </tr>
            <tr>
                <th>Nombre Evento</th>
                <td>{{ evento.NombreEvento }}</td>
            </tr>
            <tr>
                <th>Descripcion Evento</th>
                <td>{{ evento.DescripcionEvento }}</td>
            </tr>
            <tr>
                <th>Fecha Evento</th>
                <td>{{ evento.FechaEvento ? evento.FechaEvento|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('evento_index') }}">Volver a la lista</a>

    <a href="{{ path('evento_edit', {'idEvento': evento.id}) }}">Editar</a>

    {{ include('evento/_delete_form.html.twig') }}
{% endblock %}
