<!DOCTYPE html>

<title>Register</title>

{% block body %}
    <h1>Register</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.username) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}


{% extends "inicio.html" %}


 {% block panelSesion %}  
 <div class="row">
                <div class="col col-0 col-lg-5 col-md-5 col-sm-5 col-xs-5 d-none d-sm-block">
                    <img src="https://scontent.fvlc4-1.fna.fbcdn.net/v/t1.6435-9/37380454_239260766898592_1157842991667216384_n.jpg?_nc_cat=111&ccb=1-5&_nc_sid=e3f864&_nc_ohc=HT0m-Xa5p9AAX_dtpb_&_nc_ht=scontent.fvlc4-1.fna&oh=00_AT8wHD7U_dVSbQegVb-m9UlByT6WXBzVLPLbpobTMC-VZA&oe=6236242C"
                        style="height: 100%; border-top-left-radius: 20px;
                            border-bottom-left-radius: 30px; margin-left: -40px;" alt="" class="img-fluid">
                </div>
                <div class="col col-12 col-lg-7 col-md-7 col-sm-7 col-xs-7">
                    <br>
                    <br>
                    <h1 class="col-lg-7 col-sm-10 font-weight-bold"></h1>
                    <br>
                    <h3 class="col-lg-10 col-sm-10">Regístrate en Mil.Una</h3>
                    <br>
                    <form>
                    {{ form_start(registrationForm) }}
                    {{ form_row(registrationForm.username) }}
                    {{ form_row(registrationForm.plainPassword, {
                    label: 'Password'
                    }) }}
                    {{ form_row(registrationForm.agreeTerms) }}

                    <button type="submit" class="btn">Register</button>
                    {{ form_end(registrationForm) }}
                        <div class="col-sm-10">
                            <p>¿Ya tienes cuenta? <a href="#">Ir a login</a></p>
                        </div>
                    </form>
                </div>
            </div>

 {% endblock %}